%p#notice= notice

%p
  %b Body:
  = comment.body
%p
  %b User:
  = comment.user_id
%p
  %b Movie:
  = comment.movie_id

= link_to 'Edit', edit_movie_comment_path
\|
= link_to 'Back', movie_path(movie)
