%h1= movie.title
.jumbotron
  = movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(movie), class: 'btn btn-sm btn-default'
= render 'comments/form'
- movie_comments.each do |comment|
  Comment: #{comment.body}
  %br
  Author: #{comment.user_id}
  %br
  - if user_signed_in? && current_user.id == comment.user_id
    = link_to "Delete", movie_comment_path(movie, comment), method: :delete, data: {confirm: "Delete this comment?"}
    = link_to "Edit", edit_movie_comment_path(movie, comment)
    = link_to "Show", movie_comment_path(movie, comment)
  %hr
